html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    padding: 8px 20px;
}

main {
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: scroll;
    margin-bottom: 68px;
}

footer {
    display: flex;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    flex-shrink: 0;
    align-items: center;
    padding: 8px 15px;
    border-top: 1px solid #eeeeee;
    box-sizing: border-box;
    background-color: #ffffff;
}

button:focus {
    outline-width: 0;
}

#btn_add {
    font-size: 16px;
    line-height: 36px;
    padding: 0px 15px;
    border: 1px solid cadetblue;
    border-radius: 4px;
    background-color: #ffffff;
}

#btn_add:hover {
    color: white;
    background-color: cadetblue;
}

#btn_pause {
    display: none;
}

.btn-icon {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    background-color: #ffffff;
}

.btn-icon:hover {
    background-color: #eeeeee;
}

.btn-icon-group {
    display: flex;
}

.btn-icon-group .btn-icon {
    margin-right: 10px;
}

#current_song_cover {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#song_cover {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #eeeeee;
    border-radius: 3px;
}

#current_song_info {
    margin-right: 10px;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.progress-box {
    position: relative;
    height: 30px;
}

.progress-box progress {
    width: 100%;
    height: 10px;
}

.progress-box div.slider {
    position: absolute;
    left: -5.5px;
    top: 9.5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: blue;
}

.volume-box {
    display: none;
    align-items: center;
    position: absolute;
    bottom: 50px;
    right: 20px;
    height: 36px;
    padding: 5px 16px;
    outline: 1px solid #eeeeee;
}

table.songs {
    width: 100%;
    background-color: #fafafa;
}

table.songs tr:nth-child(2n) {
    background-color: #fefefe;
}